[Unit]
Description=A simple home automation hub

[Service]
Type=forking
ExecStart=/usr/bin/kisslight daemon
ExecStop=/bin/kill -2 $MAINPID
PIDFile=/var/lock/kisslight.pid

User=root

[Install]
WantedBy=multi-user.target